### 파일을 이용한 데이터 입력 및 출력

In [2]:
#구글 드라이브 연결 
from google.colab import drive
drive.mount()

ModuleNotFoundError: No module named 'google'

In [3]:
import pandas as pd

In [4]:
lstdata=[[1, "홍길동", "남"],
         [2, "김민기", "남"],
         [3, "김코코", "중성"],
         [4, "김쫑", "중성"],
]
df=pd.DataFrame(lstdata)
df

   0    1   2
0  1  홍길동   남
1  2  김민기   남
2  3  김코코  중성
3  4   김쫑  중성

In [5]:
df=pd.DataFrame(lstdata, columns = ['번호','이름','성별'])
df

   번호   이름  성별
0   1  홍길동   남
1   2  김민기   남
2   3  김코코  중성
3   4   김쫑  중성

In [ ]:
dictdata={}